/* ==========================================================================
   Breadcrumb navigation
   ========================================================================== */

.breadcrumbs {
  @include row;
  margin-top: $gutter;
  @include font-size(10, yes, 15);
  .bold {
    font-family: $alt-font;    
    text-align: left;
    font-weight: 700;
    text-transform: uppercase;
  }
  a {
    display: inline-block;
    font-family: $alt-font;    
    text-align: left;
    border-bottom: 1px dotted #a2a2a2;
    text-transform: uppercase;
  }
}
